n8n/daily_report.json
{
  "name": "StarGazer — Daily Sunset Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 19 * * *"
            }
          ]
        }
      },
      "id": "n1-schedule",
      "name": "Every Day at 7pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.STARGAZER_API_URL }}/tonight",
        "options": {
          "timeout": 15000
        }
      },
      "id": "n2-http",
      "name": "Get Tonight Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst moon = r.moon || {};\nconst scorpius = r.scorpius || {};\nconst seeing = r.seeing || {};\nconst targets = r.best_targets_tonight || [];\nconst planets = r.visible_planets || [];\nconst mustSee = r.must_see || [];\n\nconst lines = [\n  `🔭 *StarGazer — Tonight's Report*`,\n  `📅 ${r.date || 'Tonight'}`,\n  ``,\n  `*🌤 Conditions*`,\n  `• Seeing: ${seeing.seeing_label || 'N/A'}`,\n  `• Go/No-Go: ${seeing.go_nogo || '❓'}`,\n  `• Cloud cover: ${seeing.tonight_cloud_pct ?? 'N/A'}%`,\n  ``,\n  `*🌙 Moon*`,\n  `• ${moon.phase_name || 'N/A'} (${moon.illumination_pct ?? '?'}% lit)`,\n  `• Rise: ${moon.moonrise || 'N/A'} | Set: ${moon.moonset || 'N/A'}`,\n  `• ${moon.dso_impact || ''}`,\n  ``,\n  `*🦂 Scorpius*`,\n  `• ${scorpius.status || 'N/A'}`,\n  `• Culminates at ${scorpius.culmination_time || 'N/A'} (${scorpius.culmination_altitude_deg || '?'}°)`,\n  ``,\n  `*🌟 Must-See Tonight*`,\n  ...mustSee.slice(0, 5).map(i => `• ${i}`),\n];\n\nif (targets.length > 0) {\n  lines.push('');\n  lines.push('*🎯 Top Targets Now*');\n  targets.slice(0, 4).forEach(t => {\n    lines.push(`• ${t.emoji || '•'} ${t.name} — ${t.altitude_deg}° ${t.direction}`);\n  });\n}\n\nif (planets.length > 0) {\n  lines.push('');\n  lines.push('*🪐 Visible Planets*');\n  planets.slice(0, 4).forEach(p => {\n    lines.push(`• ${p.emoji} ${p.name}: ${p.altitude_deg}° ${p.direction}`);\n  });\n}\n\nlines.push('');\nlines.push(`*⏰ Dark Window: ${r.astronomical_dusk || '?'} → ${r.astronomical_dawn || '?'}*`);\nlines.push(``);\nlines.push(`_📡 Celestron 5\" DX | Columbus OH_`);\n\nreturn [{ json: { text: lines.join('\\n') } }];"
      },
      "id": "n3-format",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "n4-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot — StarGazer"
        }
      }
    }
  ],
  "connections": {
    "Every Day at 7pm": {
      "main": [[{"node": "Get Tonight Report", "type": "main", "index": 0}]]
    },
    "Get Tonight Report": {
      "main": [[{"node": "Format Message", "type": "main", "index": 0}]]
    },
    "Format Message": {
      "main": [[{"node": "Send to Telegram", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{"name": "stargazer"}]
}
