n8n/iss_alert.json
{
  "name": "StarGazer — ISS Pass Alert (Every 90 min)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * *"
            }
          ]
        }
      },
      "id": "i1-schedule",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.STARGAZER_API_URL }}/iss?count=5",
        "options": {"timeout": 10000}
      },
      "id": "i2-http",
      "name": "Get ISS Passes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst passes = data.passes || [];\nconst now = new Date();\n\n// Find passes within the next 30 minutes that are actually visible (peak alt > 20°)\nconst upcoming = passes.filter(p => {\n  if (!p.rise || p.rise === 'Check Heavens-Above.com') return false;\n  if (!p.visible) return false;\n  if ((p.peak_alt || 0) < 20) return false;\n  \n  // Try to parse rise time — format like \"Thu Jun 19 09:30 PM\"\n  try {\n    const riseDate = new Date(p.rise);\n    const diffMin = (riseDate - now) / 60000;\n    return diffMin > 0 && diffMin <= 30;\n  } catch (e) {\n    return false;\n  }\n});\n\nif (upcoming.length === 0) {\n  return [{ json: { send: false } }];\n}\n\nconst pass = upcoming[0];\nconst lines = [\n  `🛸 *ISS VISIBLE PASS ALERT!*`,\n  ``,\n  `The International Space Station is passing overhead in less than 30 minutes!`,\n  ``,\n  `🚀 *Rise:* ${pass.rise}`,\n  `📍 *Set:* ${pass.set}`,\n  `📐 *Peak altitude:* ${pass.peak_alt}° ${pass.peak_az || ''}`,\n  ``,\n  `👀 Look ${pass.peak_az || 'S'} — it will appear as a bright moving star, no blinking!`,\n  ``,\n  `_No telescope needed — naked eye or binoculars_`,\n  `_Tip: ISS moves from horizon to horizon in ~6 minutes_`,\n];\n\nreturn [{ json: { send: true, text: lines.join('\\n') } }];"
      },
      "id": "i3-check",
      "name": "Check for Imminent Pass",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.send }}",
              "value2": true
            }
          ]
        }
      },
      "id": "i4-if",
      "name": "Pass Visible Soon?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "i5-telegram",
      "name": "Send ISS Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 240],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot — StarGazer"
        }
      }
    },
    {
      "parameters": {},
      "id": "i6-noop",
      "name": "No Pass — Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [[{"node": "Get ISS Passes", "type": "main", "index": 0}]]
    },
    "Get ISS Passes": {
      "main": [[{"node": "Check for Imminent Pass", "type": "main", "index": 0}]]
    },
    "Check for Imminent Pass": {
      "main": [[{"node": "Pass Visible Soon?", "type": "main", "index": 0}]]
    },
    "Pass Visible Soon?": {
      "main": [
        [{"node": "Send ISS Alert", "type": "main", "index": 0}],
        [{"node": "No Pass — Skip", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "stargazer"}]
}
