n8n/weekly_report.json
{
  "name": "StarGazer — Weekly Sunday Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 0"
            }
          ]
        }
      },
      "id": "w1-schedule",
      "name": "Every Sunday 8pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.STARGAZER_API_URL }}/weekly",
        "options": {"timeout": 20000}
      },
      "id": "w2-http",
      "name": "Get Weekly Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst days = r.days || [];\n\nconst lines = [\n  `🔭 *StarGazer — Week Ahead*`,\n  `📅 Week of ${r.week_start}`,\n  ``,\n];\n\ndays.forEach(day => {\n  lines.push(`*${day.date}* ${day.rating}`);\n  lines.push(`  ${day.moon_phase} • ${day.weather}`);\n  (day.highlights || []).forEach(h => lines.push(`  ↳ ${h}`));\n  lines.push('');\n});\n\nconst best = r.best_nights || [];\nif (best.length > 0) {\n  lines.push('*🏆 Best Nights This Week:*');\n  best.forEach(n => lines.push(`• ${n.date}`));\n  lines.push('');\n}\n\nlines.push(`_📡 Celestron 5\" DX | Columbus OH_`);\n\nreturn [{ json: { text: lines.join('\\n') } }];"
      },
      "id": "w3-format",
      "name": "Format Weekly Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "w4-telegram",
      "name": "Send Weekly to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot — StarGazer"
        }
      }
    }
  ],
  "connections": {
    "Every Sunday 8pm": {
      "main": [[{"node": "Get Weekly Report", "type": "main", "index": 0}]]
    },
    "Get Weekly Report": {
      "main": [[{"node": "Format Weekly Message", "type": "main", "index": 0}]]
    },
    "Format Weekly Message": {
      "main": [[{"node": "Send Weekly to Telegram", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "stargazer"}]
}
